# Build e dependências locais
target/
.mvn/
mvnw
mvnw.cmd

# Configurações do VS Code, IntelliJ e Eclipse
.settings/
.target/
.classpath
.project
.idea/
*.iml
.vscode/

# Arquivos locais e logs
.env
.env.local
logs/
*.log

# Evita levar o contexto do git para o build
.git
.gitignore