/* Layouts.css - Estilos compartilhados dos layouts das Navbar */
.navbar {
  background-color: var(--surface-color) !important;
  box-shadow: var(--shadow-sm);
}

.navbar-brand {
  font-family: var(--font-heading);
  font-weight: 700;
  color: var(--primary-color) !important;
  font-size: 1.5rem;
}

.nav-link {
  color: var(--text-dark) !important;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}